/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #17365d;
}
body {
    position: relative;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
    color: #205d91;
}

h1, h2 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    margin-top: 70px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1982db;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    color: #002948;
}

@media only screen and (min-width: 992px) {
    html,
    body {
        font-size: 18px;
        line-height: 30px;
    }

    h2 {
        font-size: 24px;
        margin-top: 90px;
    }

    h3 {
        font-size: 30px;
        line-height: 45px;
    }
}

a {
    color: #1265ea;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #17365d;
}

strong {
    font-style: normal;
    font-weight: 500;
}

em {
    color: #17365d;
    font-style: normal;
    font-weight: 500;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #17365d;
    opacity: 1;
}

:focus {
    box-shadow: none !important;
}

.alert {
    padding: 50px;
}

.alert-primary {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    background-color: unset;
    color: #0a1c2b;
    border: none;
    border-radius: 0;
}

.alert-primary img {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
}

@media only screen and (min-width: 992px) {
    .alert-primary {
        font-size: 18px;
        line-height: 30px;
    }
}


.font-size-14 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: none;
}

.font-size-18 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.mt-xl {
    margin-top: 60px;
}

.mt-xxl {
    margin-top: 110px;
}

@media only screen and (min-width: 992px) {
    .mt-xl {
        margin-top: 120px;
    }

    .mt-xxl {
        margin-top: 140px;
    }
}

.font-size-20 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.font-size-24 {
    font-size: 24px;
    font-weight: 300;
    line-height: 39px;
    text-transform: none;
}

.line-height-28 {
    line-height: 28px;
}

.bg-grey {
    background-color: #edf3f5;
}

.bg-dark-grey {
    background-color: #c0cdd1;
}

.bg-blue {
    background-color: #002948;
}

.bg-light-blue {
    background-color: rgba(25, 130, 219, 0.1);
}

.btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-link {
    color: #1265ea;
    text-decoration: none;
}

.btn-primary {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    min-width: 200px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    background-color: #1982db;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0362b4;
    box-shadow: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}

.carousel-control-prev {
    display: none;
    width: 5%;
}

.carousel-control-next {
    display: none;
    width: 5%;
}

.carousel-indicators {
    margin-bottom: -40px;
}

.carousel:hover .carousel-control-prev {
    display: none;
    transition: all 3s ease;
}

.carousel:hover .carousel-control-next {
    display: none;
    transition: all 3s ease;
}

.carousel:hover .carousel-control-next-icon {
    margin-left: -1.25rem;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #e1e6ed;
    background-color: #e1e6ed;
    opacity: 1;
}

.carousel-indicators [data-bs-target].active {
    border: 1px solid #707070;
    background-color: #707070;
}

#header h3 {
    margin-top: 20px;
    font-size: 50px;
}

@media only screen and (max-width: 991px) {
    #header div.header-box {
        margin-top: 0;
    }
}

/* Navigation */
nav.navbar {
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

nav.navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #205d91 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #17365d !important;
}

.navbar-nav .btn {
    width: 250px;
}

.navbar-light .navbar-toggler {
    position: fixed;
    top: 15px;
    right: 0;
    border: none;
    z-index: 2000;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-toggler span:nth-child(1) {
    display: none;
    color: #1c345e;
}

.navbar-light .navbar-toggler span:nth-child(2) {
    display: none;
    color: #ffffff;
}

.navbar-light .navbar-toggler > label {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-light .navbar-toggler.collapsed {
    position: relative;
    top: 0;
}

.navbar-light .navbar-toggler.collapsed span:nth-child(1) {
    display: none;
}

@media (min-width: 576px) {
    .navbar-nav {
        margin-top: 30px;
    }

    .nav-link {
        font-size: 30px;
        line-height: 50px;
    }

    .nav-link img {
        height: 60px;
    }

    .navbar-light .navbar-toggler.collapsed {
        top: 0;
    }

    .navbar-light .navbar-toggler.collapsed span:nth-child(1) {
        display: inline;
    }

    .navbar-light .navbar-toggler span:nth-child(2) {
        display: inline;
    }
}

.navbar-light .navbar-toggler.collapsed span:nth-child(2) {
    display: none;
}

#hamburger {
    display: none;
}

#hamburger + label {
    position: relative;
    width: 45px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    transition: all .5s;
    text-align: left;
}

#hamburger + label div,
#hamburger + label div:before,
#hamburger + label div:after {
    background: #ffffff;
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 2px;
    transition: all .5s;
}

.navbar-toggler.collapsed #hamburger + label div {
    background: #325d8d;
}

#hamburger + label div:first-child {
    top: 0;
}

#hamburger + label div:nth-child(2) {
    top: 10px;
    width: 45px
}

#hamburger + label div:nth-child(3) {
    top: 20px;
}

#hamburger + label div {
    transition: top .15s .17s, transform .12s .033s;
}

#hamburger + label div:nth-child(3) {
    transition: top .15s .17s, transform .17s;
}

#hamburger:checked + label div {
    top: 10px;
    width: 30px;
    transform: rotate(135deg);
    transition: top .1s, transform .12s .1s;
}

#hamburger:checked + label div:nth-child(3) {
    transform: rotate(225deg);
    transition: top .1s, transform .17s .1s;
}

.navbar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-brand img {
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
}

.navbar-nav .nav-link:nth-child(5) {
    padding-right: 0;
}

.navbar-collapse .navbar-nav {
    margin-top: 0;
    margin-bottom: 30px;
}

.navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
}

.navbar .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center !important;
    background: #17365d;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.navbar .navbar-collapse.collapse {
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.navbar .navbar-collapse.collapsing[style*="height"] {
    height: 100vh !important;
    opacity: 1;
}

.navbar .navbar-collapse.collapsing {
    height: 100vh;
    opacity: 0;
}

.navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
}

.navbar .navbar-collapse .navbar-nav {
    margin-top: 60px;
    margin-right: initial !important;
    margin-bottom: auto
}

@media (min-width: 576px) {
    .navbar .navbar-collapse .navbar-nav {
        margin-top: 100px;
    }
}

.navbar .navbar-collapse .navbar-brand {
    position: absolute;
    left: 20px;
}

.navbar .navbar-collapse .navbar-close {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar .navbar-collapse .btn-close {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-16%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2217.1%22%20y1%3D%222.9%22%20x2%3D%223%22%20y2%3D%2217%22%2F%3E%3Cline%20id%3D%22Linie_20%22%20class%3D%22st0%22%20x1%3D%223%22%20y1%3D%222.9%22%20x2%3D%2217.1%22%20y2%3D%2217%22%2F%3E%3C%2Fsvg%3E%0A');
    background-size: 20px 20px;
    vertical-align: middle;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-link:active {
    color: #1265ea !important;
}

@media (min-width: 768px) {
    .navbar .navbar-brand img {
        height: 40px;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-brand img {
        height: 50px;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

/* Sections */
#header h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #002948;
}

#header strong {
    font-weight: 500;
}

#header table > tbody > tr {
    border-bottom: 1px solid #91a4aa;
    font-size: 16px;
    line-height: 30px;
}

#header .btn-primary {
    min-width: auto;
}

@media only screen and (min-width: 768px) {
    #header table > tbody > tr {
        font-size: 18px;
    }

    #header img.header {
        position: absolute;
        top: 50px;
        right: 0;
        width: 600px !important;
    }
}

@media only screen and (min-width: 992px) {
    #header img.header {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 600px !important;
    }
}

@media only screen and (min-width: 1200px) {
    #header img.header {
        position: absolute;
        top: 50px;
        right: 75px;
        width: 650px !important;
    }
}

#notice-alert .alert {
    background-color: rgba(25, 130, 219, 0.1);
}

#notice-alert ul {
    padding-left: 15px;
    list-style: none;
}

#notice-alert ul li {
    position: relative;
}

#notice-alert ul li:before {
    position: absolute;
    left: -15px;
    top: 12px;
    width: 5px;
    height: 5px;
    background-image: url('../images/bulletpoint.svg');
    background-size: 5px 5px;
    content: ' ';
}

/* Diagnostik */
#diagnostik .accordion-button {
    padding-left: 0.5rem;
    padding-right: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    background-color: #edf3f5;
    color: #002948;
    text-transform: uppercase;
    transition: none;
}

#diagnostik .accordion-button:focus {
    box-shadow: none;
}

#diagnostik .accordion-button::after {
    width: 40px;
    height: 40px;
    background-image: url('../images/diagnostik_plus.svg');
    background-size: 16px 16px;
    background-position-x: 12px;
    background-position-y: 12px;
    background-color: #edf3f5;
    transition: none;
}

#diagnostik .accordion-button[aria-expanded="true"],
#diagnostik .accordion-button:hover {
    background-color: #002948;
    color: #ffffff;
}

#diagnostik .accordion-button[aria-expanded="true"]::after,
#diagnostik .accordion-button:hover::after {
    background-color: #002948;
    background-image: url('../images/diagnostik_plus_white.svg');
}

#diagnostik .accordion-button:not(.collapsed) {
    box-shadow: none;
}

#diagnostik .accordion-button:not(.collapsed)::after {
    background-image: url('../images/diagnostik_plus_white.svg');
    background-position-x: 12px;
    background-position-y: 12px;
}

@media only screen and (min-width: 576px) {
    #diagnostik .accordion-button {
        padding-left: 1.25rem;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.1rem;
    }

    #diagnostik .accordion-button::after {
        width: 50px;
        height: 50px;
        background-position-x: 17px;
        background-position-y: 17px;
    }

    #diagnostik .accordion-button:not(.collapsed)::after {
        background-position-x: 17px;
        background-position-y: 17px;
    }
}

#leistungen .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 215px;
}

#leistungen .card h4 {
    font-size: 18px;
    line-height: 24px;
}

#leistungen .card a {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#leistungen .card a {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -11px;
    width: 21px;
    height: 21px;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg version="1.1" id="Komponente_11_37" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 21 21" style="enable-background:new 0 0 21 21;" xml:space="preserve"><circle fill="%231982DB" cx="10.5" cy="10.5" r="10"/><g transform="translate(-1231 -2925)"><line fill="none" stroke="%23ffffff" x1="1241.5" y1="2930.5" x2="1241.5" y2="2940.5"/><line fill="none" stroke="%23ffffff" x1="1246.5" y1="2935.5" x2="1236.5" y2="2935.5"/></g></svg>');
    background-size: 21px 21px;
    background-repeat: no-repeat;
}

#leistungen .card a[aria-expanded="true"] {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg version="1.1" id="Komponente_11_38" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 21 21" style="enable-background:new 0 0 21 21;" xml:space="preserve"><circle fill="%231982DB" cx="10.5" cy="10.5" r="10"/><g transform="translate(-1231 -2925)"><line fill="none" stroke="%23FFFFFF" x1="1246.5" y1="2935.5" x2="1236.5" y2="2935.5"/></g></svg>');
}

#leistungen .collapse,
#leistungen .collapsing {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    background-color: #ffffff;
}

/* Biografie */
#biografie ul {
    padding-left: 15px;
    list-style: none;
}

#biografie ul li {
    position: relative;
}

#biografie ul li:before {
    position: absolute;
    left: -15px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-image: url('../images/bulletpoint.svg');
    background-size: 5px 5px;
    content: ' ';
}

/* Map */
#map div.bg-blue {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #ffffff;
}

@media only screen and (min-width: 576px) {
    #map div.bg-blue {
        font-size: 18px;
        line-height: 30px;
    }

    #map div.bg-blue img {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    #map div.bg-blue {
        max-width: 340px;
    }
}

#map div.bg-blue a {
    color: #ffffff;
}

/* Notice */
#notice span {
    color: #2e67e2;
}

/* Impressum */
body.imprint p {
    margin-bottom: 1.5rem;
}

/* Footer */
footer {
    height: 50px;
    font-size: 16px;
    line-height: 25px;
    background-color: #002948;
}

footer p {
    font-size: 14px;
    line-height: 50px;
    color: #ffffff;
}

footer a,
footer a:hover,
footer a:focus {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none !important;
    text-transform: uppercase;
}
